body{
 width:100%;
 height: 100%;
 margin: 0;
 padding: 0;
}

.login{
  width:400px;
  left:65%;
  top:25%;
  position:relative;
}
.box{
  width: 400px;
  height: 100px;
  top: 100px;
  left: 35%;
  border-radius: 25px;
  background-color: white;
  position: relative;
  opacity: 0.5;
}
.name{
  width: 100%;
  height: 100px;
  position: relative;
  top: 10px;
  left: 3%;
  font-size: 60px;
  text-align: center;
  color: #000;
  font-family:serif;


}
.buttons{

    width:100%;
    height: 650px;
    position:relative;
    background-image: url("macbook-924824.jpg");

    background-size: 100% 120%;

}
.b1{

  opacity: 0.8;
  text-decoration: none;
  background-color: #2E2E2E;
  width:200px;
  height:200px;
  top: 130px;
  left: 10%;
  border-radius:50%;
  font-size:20px;
  color:#fff;
  line-height:200px;
  text-align:center;
  background:#2E2E2E;
   position: relative;
   display:inline-block;
   margin: 5%;

   transition:all 0.5s ease-out;
 }
.b1:hover{
  opacity: 1;
  text-decoration: none;
  background-color: #fff;
  width:200px;
  height:200px;
  top: 130px;
  left: 10%;
  border-radius:50%;
  font-size:20px;
  color:#fff;
  line-height:200px;
  text-align:center;
  background:#2E2E2E;
   position: relative;
   display:inline-block;
   margin: 5%;
   -webkit-transform:scale(1.3);
 -moz-transform:scale(1.3);
 -ms-transform:scale(1.3);
 -o-transform:scale(1.3);
 transform:scale(1.3);

}
.b2{
  opacity: 0.8;
  text-decoration: none;
  background-color: #2E2E2E;
  width:200px;
  height:200px;
  top: 130px;
  left: 10%;
  border-radius:50%;
  font-size:20px;
  color:#fff;
  line-height:200px;
  text-align:center;
  background:#2E2E2E;
   position: relative;
   display:inline-block;
   margin: 5%;

      transition:all 0.5s ease-out;
}
.b2:hover{
  opacity: 1;
  text-decoration: none;
  background-color: #fff;
  width:200px;
  height:200px;
  top: 130px;
  left: 10%;
  border-radius:50%;
  font-size:20px;
  color:#fff;
  line-height:200px;
  text-align:center;
  background:#2E2E2E;
   position: relative;
   display:inline-block;
   margin: 5%;
   -webkit-transform:scale(1.3);
 -moz-transform:scale(1.3);
 -ms-transform:scale(1.3);
 -o-transform:scale(1.3);
 transform:scale(1.3);

}
.b3{
  opacity: 0.8;
  text-decoration: none;
  background-color: #2E2E2E;
  width:200px;
  height:200px;
  top: 130px;
  left: 10%;
  border-radius:50%;
  font-size:20px;
  color:#fff;
  line-height:200px;
  text-align:center;
  background:#2E2E2E;
   position: relative;
   display:inline-block;
   margin: 5%;

      transition:all 0.5s ease-out;
}
.b3:hover{
  opacity: 1;
  text-decoration: none;
  background-color: #fff;
  width:200px;
  height:200px;
  top: 100px;
  left: 10%;
  border-radius:50%;
  font-size:20px;
  color:#fff;
  line-height:200px;
  text-align:center;
  background:#2E2E2E;
   position: relative;
   display:inline-block;
   margin: 5%;
   -webkit-transform:scale(1.3);
 -moz-transform:scale(1.3);
 -ms-transform:scale(1.3);
 -o-transform:scale(1.3);
 transform:scale(1.3);

}

.content{
  width:100%;
  background-color: #2E2E2E;
  height: 2000px;
}
.a1{
  color: #000;
}
.title-text{
  width: 100%;
  height: 100px;
  position: relative;
  top: 30px;
  font-size: 60px;
  text-align: center;
  color: #fff;
  font-family:serif;
}
.divider{
  width: 100%;
  margin: 25px 0;
    height: 5px;
    background: white;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#2E2E2E), to(#2E2E2E), color-stop(50%, white));
  position: relative;
  top: 5px;
  left: 0px;
}
.divider1{
  width: 100%;
  margin: 25px 0;
    height: 1px;
    background: white;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#2E2E2E), to(#2E2E2E), color-stop(50%, white));
  position: relative;
  top: -225px;
  left: 0px;

}
.stat-div{
  width: 100%;
  margin: 25px 0;
    height: 1px;
    background: white;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#2E2E2E), to(#2E2E2E), color-stop(50%, white));
  position: relative;
  top: 5px;
  left: 0px;
}
.stat-title{
  color: white;
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-family:serif;
}
.stat-text{
  color: white;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family:serif;
  width: 80%;
  left:10%;
  position: relative;
}
.work{
 color: white;
 width: 80%;
 left:10%;
 position: relative;
 text-align: center;
 top: -200px;
}
.worktitle{
  color: white;
  font-size: 40px;
  text-align: center;
  font-family:serif;
}
.ex1{
  height: 600px;
  width: 100%;

}
.work-title1{
 top: 20px;
 position: relative;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  font-family:serif;
}
.tech-title{
  color: white;
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-family:serif;
}
.technical{
  width: 40%;
  height:800px;
  color: white;
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  left: -300px;
  top: 50px;



}
.title-techbox{
  width:100px;
  height:100px;
  position: relative;
  left: 250px;
  top: 50px;

}
.img-holder{
  width: 100%;
    text-align: center;
    height: 100px;
    padding: 10px 0 20px 0;
}
.tech-skills{
  list-style-type: none;
  height: 100%;
  display: inline-block;
  float: left;

}
.skillbox{
  border-radius: 100px;
   background: #2E2E2E;
   padding: 20px;
   width: 70px;
   height: 20px;
   color: white;
   border: 2px solid white;
   position: relative;
   display: inline-block;
   top: 200px;
   left: 100px;
   border-width: 3px;
   border-color: white;
   text-align: center;

}
.skillbox:hover{
  border-radius: 100px;
   background: white;
   padding: 20px;
   width: 70px;
   height: 20px;
   color: black;
   border: 2px solid black;
   position: relative;
   display: inline-block;
   top: 200px;
   left: 100px;
   border-width: 3px;
   border-color: black;
   text-align: center;

}
.skillbox-large{
  border-radius: 100px;
   background: #2E2E2E;
   padding: 20px;
   width: 70px;
   height: 20px;
   color: white;
   border: 2px solid white;
   position: relative;
   display: inline-block;
   top: 200px;
   left: 100px;
   border-width: 3px;
   border-color: white;
   text-align:center;


}


}
.tline1{
  left:50px;
  top:0px;
  position: relative;

}
.tline2{
  position: relative;
  left: 0px;
  top:10px;
}
.soft{
  color: white
  width: 40%;
  float: left;
  height:800px;
  display: inline-block;
  position: relative;
  left: 600px;;
  top: 50px;


}
.title-softbox{
  left:100px;
  top: 50px;
  position: relative;

}
.soft-title{
  top: 50px;
  position: relative;
  color: white;
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-family:serif;
}
.sline1{
  left:50px;
  top:-70px;
  position: relative;

}
.sline2{

    left:50px;
    top:-60px;
    position: relative;
}
